<h1>Edit</h1>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<form method="POST" action="/edit/{{employee._id}}">
    <label>Name:<br><input type="text" name="name" value="{{employee.name}}"></label><br>
    <label>Phone:<br><input type="text" name="phone" value="{{employee.phone}}"></label><br>
    <button type="submit">Save</button>
</form>
<br>
<a href="/employee/{{employee._id}}">Cancel</a>
